.AllScenarios .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .btn {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .new-scenario {
    background-color: #007bff;
  }
  
  .add-vehicle {
    background-color: #28a745;
  }
  
  .delete-all {
    background-color: #dc3545;
  }
  
  .scenario-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .scenario-table th {
    background-color: #333;
    padding: 8px;
    text-align: center;
  }
  
  .scenario-table td {
    color: #333;
    padding: 8px;
   
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .btn-icon {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
  }
  